@mixin unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.carousel-container {
    display: block;
    position: relative;

    .carousel-wrapepr {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;

        .carousel {
            display: block;
            justify-content: center;
            align-items: center;
            padding: 5vh 0 10vh 0;
        }
    }

    > button {
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 5vh;
    }

    > .previous {
        left: 5vw;
    }

    > .next {
        right: 5vw;
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
        align-content: center;

        .dot {
            margin: 0 0.3vw;
            width: calc(1.0/var(--count)*30vw);
            height: 2vh;
            background-color: #000a;
            opacity: 0.8;
            transition: 0.1s ease-out;
            @media (max-width: 767px) {
                width: calc(1.0/var(--count)*70vw);
                margin: 0 calc(1.0/var(--count)*10vw);
            }
            &[data-modal=true]{
                --offsetFinishX:-100vw;
                --offsetFinishY:0;
                animation: getin 0.3s ease-in calc(var(--index)*0.04s) forwards;
            }

            &:hover {
                margin: 0 1vw;
                opacity: 0.9;
                transform: scale(1.1);
                cursor: pointer;
            }
          
        }

        .active {
            background-color: rgb(250, 100, 0);
        }
    }
}

.cards {
    display: grid;

    > .card {
        grid-area: 1/-1;
    }

    perspective: 800px;
    transform-style: preserve-3d;
}

.card {
    @include unselectable;
    position: relative;
    --card-height-initial : 40vh;
    --card-width-initial : 30vw;
    height: var(--card-height-initial);
    width: var(--card-width-initial);
    background-color: rgba(0,0,0,0.3);
    box-shadow: calc(3px*var(--card-offset)) -2px 8px 4px #0009;
    transform: translateX(calc(105%*var(--card-offset))) rotateY(calc(-15deg*var(--dir)));
    transition: calc(var(--showTransition)*0.9s) ;
    text-decoration: none;

    @media (max-width: 767px) {
        --card-height-initial : 30vh;
        --card-width-initial : 50vw;
        height: var(--card-height-initial);
        width: var(--card-width-initial);
        .click-hint {
            display: none;
        }
    }
    .image-wrapper{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transition: 0.3s ease-in-out ;
        animation: imageshrink 0.8s forwards;

        .modal-carousel-arrows{
            position: absolute;
            width: 100%;
            opacity: 0;
            font-weight: 600;
            font-size: 4rem;
            display: flex;
            z-index: 10;
            top:50%;
            padding: 0 5%;
            transform: translateY(-50%);
            justify-content: space-between;
            animation:frominvis 0.5s ease-in 0.6s forwards ;
            
            .modal-carousel-arrow{
                color:#fa6400aa;
                transition: 0.1s ease-out;
                animation: pulse 0.6s ease-in-out infinite alternate;
                    
                &[data-disabled=true]{
                    color:#0005;
                    &:hover{
                        color:#0005;
                    }
                }
                &:hover{
                    color:#fa6400dd;
                }
            }
        }
        
        
        &[data-modal=true]{
            height: var(--card-height-initial);
            width: 100%;
            animation: imagegrow 0.8s forwards;
            animation-delay: 0.2s;
            
        }
        @keyframes pulse{
            from{
                opacity: 0.7;
                transform: scale(1);
            }
            to{
                opacity: 1;
                transform: scale(1.05);}
        }
        @keyframes frominvis{
            to{opacity:1;}
        }
        @keyframes imagegrow{
            to{
                height: 70%;
                margin: 5px 0;
            }
        }
        @keyframes imageshrink{
            to{
                height: var(--card-height-initial);
                width: 100%;
            }
        }
        .card-image {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            opacity: calc(1 - 0.15 * var(--dirabs));
            transition: 1s ease-in-out delay 0.3s;
            
            &[data-modal=true]{
                transition: calc(var(--show-tansition)*0.6s);
                transform: translateX(calc(var(--image-offset)*100%));
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    
    .modal-items{
        padding: 1vh 4vw;
        transform: scale(0);
        animation:getin 0.4s ease-out forwards ;
        animation-delay: 0.3s;
        justify-content: space-between;
        display: flex;

        .description{
            font-family: 'Roboto';
            font-size: 1.8rem;
            
            display: flex;
            justify-content: center;
            max-width: 400px;
            overflow-y: scroll;
            margin: 0 20%;
            color: rgba(255, 255, 255,50);
            opacity: 0.8;
            p{
                
                text-shadow: 2px 2px 12px #0007;
            }
            
            @media (max-width: 767px) {
                margin: 0;
                font-size: 1.5rem;

            }
            span{
                font-family: 'Recursive';
                font-style: italic;
                font-weight: 600;
                color: rgb(250,100,0);
                opacity: 0.9;
            }
        }

        .modal-buttons{
            height: 100%;
            display: flex;
            justify-content: flex-end;
            .modal-buttons-wrapper{

                @media (max-width: 767px) {
                    display: block;
                    justify-content: space-around;
                }
                .social-icons{
                    margin: 1vh 0;
                    justify-content: flex-end;

                    .social-icon{
                        margin: 0;
                    }
                }

                .close-button-wrapper{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    .close-button{
                        position: relative;
                        height: min-content;
                        width: min-content;
                        
                        padding: 2rem 2rem;
                        background-color: rgb(190,90,0);
                        border-radius: 100%;
                        color:rgb(255, 255, 255);
                        transition: 0.2s ease-out;
                        animation:none;
                        opacity: 0.7;
                        transform: rotate(45deg);

                        &:hover{
                        text-decoration: none;
                        opacity: 0.9;
                        transform: scale(1.2) rotate(45deg);
                        transition: 0.2s ease-in-out;
                        }

                        span{
                            line-height: 0;
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform: translate(-50%,-50%);
                            font-size: 1.5rem;
                            font-weight: 500;
                            font-family: 'Roboto';
                        }
                    }
               }
          }
        }
    }
    @keyframes getin {
        to{
            transform:scaleY(1);
        }
    }

    .click-hint {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease-in-out;
        background-color: #0007;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: 'Roboto';
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
        }
    }


    &[data-active=true] {
        box-shadow: 0 0 10px #ff6a0088;
        &[data-modal=true] {
            animation: grow forwards 0.8s ease-in-out;
            background-color: rgba(0,0,0,0.3);
            transition: 0.6s ease-out;
        }
        @keyframes grow {
            from{
                height: var(--card-height-initial);
                width: var(--card-width-initial);
            }
            to{
                width: 90vw;
                height: 80vh;
            }
        }

        &[data-modal=false] {
            transform: scale(1.1);

            &:hover {
                cursor: pointer;

                .click-hint {
                    opacity: 1;
                }
            }
        }
    }

    .title-container {
        padding: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        justify-content: center;


        .title {
            margin-top: 0;
            text-align: center;
            color: rgba(230, 90, 0,200);
            text-shadow: calc(var(--dir)*4px) 4px 8px #000a;
        }
    }

}
