@keyframes frominvis{
    from{

    }
    to{
        opacity: 1;
    }
}
.navbar {
    opacity: 0;
    animation: frominvis 1s ease-out 3.4s forwards;
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background: none;
    border: none;

  
    .navbar-colapse {
        background: #0000;
    }

    .navbar-nav {
        display: flex;
    }

    a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: 'Roboto';
        font-weight: 500;
        transition: 0.05s ease-out;
        color: rgba(255, 255, 255,50);
        opacity: 0.85;

        &[role="button"] {
            margin: 10px 15px;
            padding: 0;
        }

        &:hover {
            text-decoration: none;
            transform: scale(1.08);
            opacity: 0.95;
        }
    }

    .Home-link {
        color: rgb(250, 100, 0);
        font-weight: 600;
    }
}

@media (max-width: 767px) {
    .navbar {
        left: 80vw;

        .navbar-toggle {
            border: none;

            &:focus {
                background-color: #0000;
            }
        }

        .navbar-nav {
            display: block;
        }

        .navbar-collapse {
            overflow: hidden;
            background: #000c;
            border-color: #0000;
            border: none;

            &:after {
                display: none;
            }
        }
    }
}

.to-top-arrow {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    bottom: 5vh;
    right: 10vh;
    padding: 0 5vh;
    font-size: 5vh;
    opacity: 0.8;

    .span:hover {
        cursor: pointer;
    }
}

.to-next-arrow {
    position: absolute;
    z-index: 10;
    bottom: 3vh;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
    font-size: 40px;
    animation: bounce 0.8s infinite alternate ease-in;

    &:hover {
        cursor: pointer;
    }
}

@keyframes bounce {
    from {
        transform: translateY(8px);
    }
    to {
        transform: translateY(24px);
    }
}
