
.title-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 10vh 0;

    h2 {
        font-weight: 700;
        font-family: 'Recursive';
        text-transform: uppercase;
    }
}
