.resume-section-image img {
    border-radius: 100%;
    width: 180px;
    height: 180px;
}

.about {
    position: relative;
    background: url('background-3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255,50);
    font-weight: 700;
    font-size: 20px;
}

.about > div {
    display: block;
    justify-content: center;
    opacity: 0.93;
}


.about h1, .about span {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.about .surname {
    color: rgb(250, 100, 0);
    opacity: 0.9;
}

.about .description {
    font-family: 'Recursive',sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
}

.about .info {
    display: flex;
    justify-content: center;
}

.about .info p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.about .info a {
    font-weight: 400;
    color: rgb(255, 106, 0);
}

.about .social-icons {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.about .social-icons a {
    margin: 0 2rem;
}

.about .social-icons .social-svg {
    fill: rgb(255, 255, 255);
    opacity: 0.9;
}

.about .arrow {
    position: absolute;
    bottom: 3rem;
    left: 50vw;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255,10);
}
