@mixin unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.carousel-container {
    display: block;
    position: relative;

    .carousel-wrapepr {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;

        .carousel {
            display: block;
            justify-content: center;
            align-items: center;
            padding: 10vh 0;
        }
    }

    > button {
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 5vh;
    }

    > .previous {
        left: 5vw;
    }

    > .next {
        right: 5vw;
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
        align-content: center;

        .dot {
            margin: 0 0.3vw;
            width: calc(1.0/var(--count)*30vw);
            height: 2vh;
            background-color: #000a;
            opacity: 0.8;
            transition: 0.1s ease-out;

            @media (max-width: 767px) {
                width: calc(1.0/var(--count)*70vw);
                margin: 0 calc(1.0/var(--count)*10vw);
            }

            &:hover {
                margin: 0 1vw;
                opacity: 0.9;
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        .active {
            background-color: rgb(250, 100, 0);
        }
    }
}

.cards {
    display: grid;

    > .card {
        grid-area: 1/-1;
    }

    perspective: 800px;
    transform-style: preserve-3d;
}

.card {
    @include unselectable;
    position: relative;
    width: 30vw;
    height: 40vh;
    background-color: rgba(0,0,0,0.3);
    box-shadow: calc(3px*var(--offset)) -2px 8px 4px #0009;
    transform: translateX(calc(105%*var(--offset))) rotateY(calc(-15deg*var(--dir)));
    transition: calc(var(--showTransition)*0.4s);

    @media (max-width: 767px) {
        width: 50vw;
        height: 30vh;

        .click-hint {
            display: none;
        }
    }

    .card-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        opacity: calc(1 - 0.15 * var(--dirabs));
    }

    &:hover {
        cursor: pointer;
    }


    .click-hint {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        justify-content: center;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease-in-out;
        background-color: #0007;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: 'Roboto';
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
        }
    }


    &[data-active=true] {
        box-shadow: 0 0 10px #ff6a0088;

        &[data-modal=true] {
            width: 90vw;
            height: 80vh;
            background-color: rgba(0,0,0,0.7);
        }

        &[data-modal=false] {
            transform: scale(1.1);

            &:hover {
                transform: scale(1.2);
                cursor: pointer;

                .click-hint {
                    opacity: 1;
                }
            }
        }
    }

    .title-container {
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%,0);
        justify-content: center;

        @media (max-width: 767px) {
            top: -55%;
        }

        .title {
            text-align: center;
            color: rgba(230, 90, 0,200);
            text-shadow: calc(var(--dir)*4px) 4px 8px #000a;
        }
    }

    .description {
        color: rgba(255, 255, 255,50);
    }
}
