.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;

    > .card {
        grid-area: 1/-1;
    }
}

.card {
    position: relative;
    width: 30vw;
    height: 40vh;
    outline: 5px solid;
    border-color: red;
    background: url('background-2.jpg');
}

.card span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    justify-content: center;
}

.card img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
}
