@mixin unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.carousel-container {
    position: relative;
    background: rgb(60, 55, 55);
    display: flex;
    justify-content: center;
    align-content: center;

    > button {
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 5vh;
    }

    > .previous {
        left: 5vw;
    }

    > .next {
        right: 5vw;
    }
}

.carousel {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
}

.cards {
    display: grid;

    > .card {
        grid-area: 1/-1;
    }

    perspective: 800px;
    transform-style: preserve-3d;
}


.card {
    @include unselectable;
    position: relative;
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 2px #ff6a0088;
    transform: translateX(calc(105%*var(--offset))) rotateY(calc(-15deg*var(--dir)));
    transition: calc(var(--showTransition)*0.4s);

    [data-active] {
        box-shadow: 0 0 4px #ff6a0088;
    }

    span {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
        justify-content: center;
    }
}
