.Home {
    position: relative;
    background: url('background-3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255,50);
    font-weight: 700;

    > div {
        display: block;
        justify-content: center;
        opacity: 0.93;
    }

    h1, name, .description, .info {
        display: flex;
        justify-content: center;
    }

    .name {
        font-size: 5vw;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
    }

    .surname {
        color: rgb(250, 100, 0);
        opacity: 0.9;
    }

    .description {
        font-family: 'Recursive',sans-serif;
        font-weight: 300;
        font-size: 2vw;
    }

    .info {
        display: flex;
        justify-content: center;
        text-align: center;

        p {
            font-family: 'Lato', sans-serif;
            font-size: 1.5vw;
            font-weight: 300;
            font-style: italic;
        }

        a {
            font-size: 1.8vw;
            font-weight: 400;
            color: rgb(255, 106, 0);
        }
    }

    .social-icons {
        display: flex;
        margin: 2rem 0;
        justify-content: center;

        a {
            margin: 0 2rem;
        }

        .social-svg {
            opacity: 0.9;
        }
    }

    .arrow {
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translate(-50%,0);
        display: flex;
        justify-content: center;
        transition: 0.2s ease-in-out;
        font-size: 5vh;
        animation: bounce 1s infinite alternate;

        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}
