.SideBar {
    background-color: rgba(0,0,25,0.3);
    border-radius: 2rem 0 0 2rem;
    display: block;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 30vh;
    left: 100vw;
    transform: translate(-100%,0);
    width: 5rem;
    transition: 0.3s ease-in;
}

.SideBar:hover {
    background-color: rgba(0,0,25,0.35);
}

.SideBar > div {
    padding: 2rem 1rem;
}

.SideBar a {
    color: rgba(58, 99, 232, 0.80);
    transition: 1s ease-in;
}

.SideBar a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transform: scale(2);
    cursor: pointer;
    color: rgba(65, 110, 242, 0.90);
}
